.ias-fsg {
    .actor {
        display: grid;
        grid-template-columns: 100px auto;
        grid-template-rows: auto;
        grid-template-areas:
            "img name"
            "img class";
        margin-right: 1rem;

        &__img {
            grid-area: img;
            width: 100px;
            height: 100px;
            clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
        }
        &__name {
            grid-area: name;
            align-self: end;
            color: $fontOnDark;
            font-size: 1.5rem;
            line-height: 1.5rem;
            padding: 0 0.5rem 0.25rem 0.5rem;
            word-wrap: break-word;
            word-break: break-word;
            &--edit {
                grid-area: name;
                align-self: end;
                background-color: $inputBgOnDark;
            }
        }
        &__class {
            grid-area: class;
            align-self: start;
            color: $fontOnDark;
            padding: 0 0.5rem 0.25rem 0.5rem;
            word-wrap: break-word;
            word-break: break-word;
            &--edit {
                grid-area: class;
                align-self: start;
                background-color: $inputBgOnDark;
            }
        }
    }
}
