.ias-fsg {
    .attribute {
        margin-bottom: 0.5rem;
        flex-basis: 50%;
        min-width: 100px;

        &__label {
            font-size: 1rem;
        }
        &__value {
            position: relative;
            margin-right: 0.5rem;
            padding-right: 10px;
        }
        &__image {
            cursor: pointer;
            position: absolute;
            right: 0;
            top: -10px;
        }
        &__poolmod {
            cursor: pointer;
            position: absolute;
            color: $fontGold;
            font-size: 27px;
            right: 0;
            top: -7px;
            width: 40px;
            text-align: center;
        }
        &__poolmodremover {
            position: absolute;
            right: 0;
            bottom: 0;
            cursor: pointer;
        }
    }
}
