.ias-fsg {
    .talent {
        position: relative;
        margin-bottom: 0.25rem;
        margin-right: 0.5rem;
        padding-left: 24px;
        flex-basis: 100%;
        min-width: 100px;
        display: flex;
        gap: 0.5rem;
        justify-content: space-between;
        align-items: center;

        &__label {
            font-size: 1rem;
            flex-basis: 100%;
        }
        &__value {
            font-size: 1rem;
            font-weight: 600;
            background-color: $bgGold;
            border-radius: 1rem;
            padding: 0 1rem;
            &--edit {
                height: 1rem;
                text-align: right;
            }
            &:hover {
                .talent__controls {
                    width: auto;
                    padding: 0 1rem;
                }
            }
        }
        &__image {
            cursor: pointer;
            position: absolute;
            left: 0;
            top: 0;
        }
        &__controls {
            white-space: nowrap;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 1rem;
            font-weight: 600;
            background-color: $bgGold;
            border-radius: 1rem;
            padding: 0;
            width: 0;
            overflow: hidden;
            transition: width 0.2s, padding 0.4s;
        }
        &__poolmod {
            cursor: pointer;
            position: absolute;
            color: $fontGold;
            font-size: 14px;
            left: 0;
            top: -1px;
            width: 16px;
            text-align: center;
        }
        &__poolmodremover {
            position: absolute;
            left: -5px;
            top: -8px;
            font-size: 12px;
        }
    }
    .special-skills {
        .talent {
            align-items: baseline;
            flex-direction: column;
            gap: 0;
            padding-left: 0;
            &__label {
                background-color: $bgGold;
                width: 100%;
                padding: 0.25rem 2.5rem 0.25rem 0.5rem;
                border-top-right-radius: 0.5rem;
                border-top-left-radius: 0.5rem;
            }
            &__description {
                width: 100%;
                padding: 0.25rem;
                border: 3px solid $borderGold;
            }
            &__controls {
                width: auto;
                top: 0.25rem;
                right: 0.25rem;
            }
        }
    }
}
