<div class="sheet__content sheet__content--skills tab" data-group="primary" data-tab="skills">
    <div class="attributes">
        <h2>{{localize 'IAS.Attributes' }}</h2>
        {{#each system.attributes as |attribute key|}}
        <div class="talent">
            <span class="talent__label">{{attribute.label}}</span>
            <span class="talent__value viewmode" data-element="attribute{{key}}">
                {{attribute.value}} <i class="editpen fa-solid fa-pen"></i>
            </span>
            <input class="talent__value--edit editmode invisible" type="number" name="system.attributes.{{key}}.value"
                value="{{attribute.value}}" data-element="attribute{{key}}Edit" data-last-value="{{attribute.value}}"
                data-dtype="Number" min="{{attribute.min}}" />
            <img class="talent__image" height="16" width="16" src="systems/ias-fsg/icons/d8_0.png"
                title="{{localize 'IAS.PoolMod' }}" />
            <span class="talent__poolmod" title="{{localize 'IAS.PoolMod' }}" data-attribute="{{key}}">
                {{attribute.poolMod}}
            </span>
            {{#if attribute.poolMod}}
            <a class="talent__poolmodremover" data-attribute="{{key}}"><i class="fa-solid fa-xmark"></i></a>
            {{/if}}
        </div>
        {{/each}}
    </div>
    <div class="skills">
        <h2>
            {{localize 'IAS.Skills' }}
            <a class="item-control item-create" data-type="skill"><i class="fa-solid fa-circle-plus"></i></a>
        </h2>
        {{#each skills as |skill key|}}
        <div class="item talent" data-item-id="{{skill._id}}">
            <span class="talent__label">{{skill.name}}</span>
            <span class="talent__value">
                {{skill.system.value}}
                <div class="talent__controls">
                    <a class="item-control item-delete" title="{{localize 'IAS.SkillDelete'}}"><i class="fas fa-trash"></i></a>
                    <a class="item-control item-edit" title="{{localize 'IAS.SkillEdit'}}"><i class="fas fa-edit"></i></a>
                </div>
            </span>
            <img class="talent__image" height="16" width="16" src="systems/ias-fsg/icons/d8_0.png"
                title="{{localize 'IAS.PoolMod' }}" />
            <span class="talent__poolmod" title="{{localize 'IAS.PoolMod' }}" data-attribute="{{key}}">
                {{skill.system.poolMod}}
            </span>
            {{#if skill.system.poolMod}}
            <a class="talent__poolmodremover" data-attribute="{{key}}"><i class="fa-solid fa-xmark"></i></a>
            {{/if}}
        </div>
        {{/each}}
    </div>
    <div class="special-skills">
        <h2>
            {{localize 'IAS.SpecialSkills' }}
            <i class="fa-solid fa-circle-plus"></i>
        </h2>
        todo
    </div>
</div>