<form class="{{cssClass}} {{actor.type}} ias-fsg" autocomplete="off">
    <section class="sheet__header">
        <div class="status">
            {{#each system.status as |status key|}}
            <div class="status__item">
                <div class="status__images">
                    <img class="status__img" height="24px" src="systems/ias-fsg/icons/status.png">
                    <img class="status__img" height="24px" src="systems/ias-fsg/icons/status.png">
                    <img class="status__img" height="24px" src="systems/ias-fsg/icons/status.png">
                </div>
                <span class="status__label">{{status.label}}</span>
            </div>
            {{/each}}
        </div>
        <div class="actor">
            <div class="actor__img">
                <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
            </div>
            <span class="actor__name viewmode" data-element="actorName">
                {{actor.name}} <i class="editpen fa-solid fa-pen"></i>
            </span>
            <input class="actor__name--edit editmode invisible" name="name" type="text" value="{{actor.name}}"
                data-element="actorNameEdit" data-last-value="{{actor.name}}" placeholder="{{localize 'IAS.Name' }}" />
            <span class="actor__class viewmode" data-element="actorClass">
                {{#if system.class}}
                {{system.class}}
                {{else}}
                <i>{{localize 'IAS.Class' }}</i>
                {{/if}}
                <i class="editpen fa-solid fa-pen"></i>
            </span>
            <input class="actor__class--edit editmode invisible" name="system.class" type="text"
                value="{{system.class}}" data-element="actorClassEdit" data-last-value="{{system.class}}"
                placeholder="{{localize 'IAS.Class' }}" />
        </div>
        <div class="reserves">
            {{#each system.reserves as |reserve key|}}
            <div class="reserve">
                <img class="reserve__img" src="systems/ias-fsg/icons/{{key}}.png" title="{{reserve.label}}">
                <div class="reserve__input reserve__input--{{key}}">
                    <input type="number" name="system.reserves.{{key}}.value" value="{{reserve.value}}"
                        data-dtype="Number" min="{{reserve.min}}" />
                    <!-- todo <input type="number" name="system.reserves.{{key}}.value.max" value="{{reserve.max}}" data-dtype="Number"
                    min="{{reserve.min}}" />-->
                </div>
            </div>
            {{/each}}
        </div>
    </section>
    <nav class="nav tabs" data-group="primary">
        {{!-- Default tab is specified in actor-sheet.mjs --}}
        <a class="nav__item" data-tab="skills">Skills*</a>
        <a class="nav__item" data-tab="bio">Bio*</a>
        <a class="nav__roll">
            <img class="img d8 rollable" src="systems/ias-fsg/icons/d8.png" data-roll="d8+@rollMod">
        </a>
        <a class="nav__item" data-tab="items">Items*</a>
        <a class="nav__item" data-tab="spells">Spells*</a>
    </nav>
    <section class="sheet__body">
        {{> "systems/ias-fsg/templates/actor/parts/actor-skills.html"}}
        {{> "systems/ias-fsg/templates/actor/parts/actor-bio.html"}}
        {{> "systems/ias-fsg/templates/actor/parts/actor-items.html"}}
    </section>
</form>