.ias-fsg {
    h1,
    h2,
    h3 {
        border: none;
        flex-basis: 100%;
    }
    h2 {
        font-weight: 600;
        font-size: 1.4rem;
    }
    a {
        &:hover {
            text-shadow: none;
            color: $fontLink;
        }
    }
}
