.ias-fsg {
    .visible {
        display: block;
    }
    .invisible {
        display: none;
    }
    .viewmode {
        cursor: text;
        position: relative;
        &:hover {
            .editpen {
                display: inline;
            }
        }
    }
}